In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Caminho via Colab + Drive
death_df = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID DEATHS.csv")
vaccinations_df = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID_VACCINATIONS.csv")

# No VSCode o caminho fica diferente:
  # "datasets/COVID DEATHS.csv"
  # "datasets/COVID_VACCINATIONS.csv"
# death_df = pd.read_csv("datasets/COVID DEATHS.csv")
# vaccinations_df = pd.read_csv("datasets/COVID_VACCINATIONS.csv")

# Usando NUMPY

## 01 - Os 10 paises com maior população tiveram maiores números, em proporção, de mortes por Covid-19?

**Justificativa**: Devido ao número elevado de pessoas no país, e consequentemente, seu recursos de saúde limitados, o número de mortes pela Covid pode ter sido muito maior, do que em paises com menor população.

In [4]:
covid = np.genfromtxt(
    "/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID DEATHS.csv",
    #"/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID_VACCINATIONS.csv",
    delimiter=',',
    skip_header=1,
    dtype=[
        ('location', 'U100'),
        ('population', int),
        ('new_deaths', float)
    ],
    usecols=(2, 4, 9)
)

covid

array([('Afghanistan', 41128772, 0.), ('Afghanistan', 41128772, 0.),
       ('Afghanistan', 41128772, 0.), ..., ('Zimbabwe', 16320539, 0.),
       ('Zimbabwe', 16320539, 0.), ('Zimbabwe', 16320539, 0.)],
      dtype=[('location', '<U100'), ('population', '<i8'), ('new_deaths', '<f8')])

In [5]:
unique = np.unique(covid['location'], return_index=True)[1]
unique.shape

(255,)

In [6]:
paises = covid['location'][unique]
paises.shape

(255,)

In [7]:
pop = covid['population'][unique]
pop
# pop.shape
# type(pop)

array([  41128772, 1426736614,    2842318,   44903228,      44295,
            79843,   35588996,      15877,      93772,   45510324,
          2780472,     106459, 4721383370,   26177410,    8939617,
         10358078,     409989,    1472237,  171186368,     281646,
          9534956,   11655923,     405285,   13352864,      64207,
           782457,   12224114,      27052,    3233530,    2630300,
        215313504,      31332,     449002,    6781955,   22673764,
         12889583,   16767851,   27914542,   38454328,     593162,
            68722,    5579148,   17723312,   19603736, 1425887360,
         51874028,     836783,    5970430,      17032,    5180836,
         28160548,    4030361,   11212198,     191173,     896007,
         10493990,   99010216,    5882259,    1120851,      72758,
         11228821,   18001002,  110990096,    6336393,   56550000,
          1674916,    3684041,    1326064,    1201680,  123379928,
        744807803,  450146793,      53117,       3801,     929769,
          5540745,   67813000,     304568,     306292,    2388997,
          2705995,    3744385,   83369840,   33475870,      32677,
         10384972,      56494,     125459,     395762,     171783,
         17843914,      63329,   13859349,    2105580,     808727,
         11585003, 1250514600,   10432858,    7488863,    9967304,
           372903, 1417173120,  275501344,   88550568,   44496124,
          5023108,      84534,    9449000,   59037472,    2827382,
        123951696,     110796,   11285875,   19397998,   54027484,
           131237,    1782115,    4268886,    6630621,    7529477,
          1850654,    5489744,    2305826,    5302690,    6812344,
            39355,    2750058,  737604900, 3432097300,     647601,
           695180,   29611718,   20405318,   33938216,     523798,
         22593598,     533293,      41593,     367512,    4736146,
          1299478,     326113,  127504120,     114178,    3272993,
            36491,    3398373,     627082,       4413,   37457976,
         32969520,   54179312,    2567024,      12691,   30547586,
         17564020,     289959,    5185289,    6948395,   26207982,
        218541216,       1952,  600323657,   26069416,    2093606,
           382836,    1896000,      49574,    5434324,   45038860,
          4576300,  235824864,      18084,    5250076,    4408582,
         10142625,    6780745,   34049588,  115559008,         47,
         39857144,   10270857,    3252412,    2695131,     974062,
         19659270,  144713312,   13776702,      10994,       5401,
            47681,     179872,      31816,       5885,     103959,
           222390,      33690,     227393,   36408824,    5466000,
         17316452,    6871547,     107135,    8605723,    5637022,
            44192,    5643455,    2119843,     724272,   17597508,
         59893884,  436816679,   51815808,   10913172,   47558632,
         21832150,   46874200,     618046,   10549349,    8740471,
         22125242,   23893396,    9952789,   65497752,   71697024,
          1341298,    8848700,       1893,     106867,    1531043,
         12356116,   85341248,    6430777,      45726,      11335,
         47249588,   39701744,    9441138,   67508936,  338289856,
            99479, 2525921300,    3422796,   34627648,     326744,
              808,   28301700,   98186856,    3170000,      11596,
           576005, 7975105024,   33696612,   20017670,   16320539])

In [8]:
pais = np.unique(covid['location'])

In [9]:
copy_covid = covid[~np.isnan(covid['new_deaths'])].copy()

In [10]:
cases = [(p, copy_covid[copy_covid['location'] == p]['new_deaths'].sum()) for p in pais]
# len(cases)
# type(cases)
casos = np.array(cases)
# casos.shape
casos[:5]

array([['Afghanistan', '7884.0'],
       ['Africa', '258851.0'],
       ['Albania', '3604.0'],
       ['Algeria', '6881.0'],
       ['American Samoa', '34.0']], dtype='<U32')

In [11]:
total_array = np.hstack((pop[:, np.newaxis], casos))
total_array[:5]

array([['41128772', 'Afghanistan', '7884.0'],
       ['1426736614', 'Africa', '258851.0'],
       ['2842318', 'Albania', '3604.0'],
       ['44903228', 'Algeria', '6881.0'],
       ['44295', 'American Samoa', '34.0']], dtype='<U32')

In [12]:
# Calculo da proporção entre mortes e população
calc_percent = (total_array[:, 2].astype(float) / total_array[:, 0].astype(float))*100
calc_percent[:5]

array([0.01916906, 0.01814287, 0.12679792, 0.01532407, 0.0767581 ])

In [13]:
result = np.hstack((total_array, calc_percent[:, np.newaxis]))
result[:5]
# 0-Population
# 1-Country
# 2-Total Deaths
# 3-Proportion

array([['41128772', 'Afghanistan', '7884.0', '0.01916906247529102'],
       ['1426736614', 'Africa', '258851.0', '0.0181428721643503'],
       ['2842318', 'Albania', '3604.0', '0.12679791634855775'],
       ['44903228', 'Algeria', '6881.0', '0.015324065343364624'],
       ['44295', 'American Samoa', '34.0', '0.07675809910825149']],
      dtype='<U32')

In [14]:
# Análise Top10 países por maior população

sorted_indices = np.argsort(result[:, 0].astype(int))[::-1]
sorted_array = result[sorted_indices]
print(sorted_array[:20])
# Países com maior população, indices (5,6,13,14,15,16,17,18,19,20)

[['7975105024' 'World' '6899687.0' '0.08651531207722438']
 ['4721383370' 'Asia' '1628635.0' '0.034494868820618564']
 ['3432097300' 'Lower middle income' '1340097.0' '0.039046008398421574']
 ['2525921300' 'Upper middle income' '2654426.0' '0.10508743878916577']
 ['1426736614' 'Africa' '258851.0' '0.0181428721643503']
 ['1425887360' 'China' '120905.0' '0.008479281280675634']
 ['1417173120' 'India' '531000.0' '0.03746895792096311']
 ['1250514600' 'High income' '2853330.0' '0.22817246595921392']
 ['744807803' 'Europe' '2038597.0' '0.27370779304254955']
 ['737604900' 'Low income' '47890.0' '0.006492635827120996']
 ['600323657' 'North America' '1594720.0' '0.26564337110573005']
 ['450146793' 'European Union' '1223798.0' '0.27186642647035364']
 ['436816679' 'South America' '1352944.0' '0.30972809991992084']
 ['338289856' 'United States' '1121237.0' '0.3314426903773313']
 ['275501344' 'Indonesia' '161071.0' '0.05846468756246794']
 ['235824864' 'Pakistan' '30652.0' '0.01299778126873']
 ['218541216' 'Nigeria' '3155.0' '0.0014436636062279437']
 ['215313504' 'Brazil' '700556.0' '0.3253655655522656']
 ['171186368' 'Bangladesh' '29452.0' '0.017204640967673313']
 ['144713312' 'Russia' '397642.0' '0.27477914402235504']]

In [15]:
top10_i = [5,6,13,14,15,16,17,18,19,20]
top10_pop = sorted_array[top10_i]
top10_pop

array([['1425887360', 'China', '120905.0', '0.008479281280675634'],
       ['1417173120', 'India', '531000.0', '0.03746895792096311'],
       ['338289856', 'United States', '1121237.0', '0.3314426903773313'],
       ['275501344', 'Indonesia', '161071.0', '0.05846468756246794'],
       ['235824864', 'Pakistan', '30652.0', '0.01299778126873'],
       ['218541216', 'Nigeria', '3155.0', '0.0014436636062279437'],
       ['215313504', 'Brazil', '700556.0', '0.3253655655522656'],
       ['171186368', 'Bangladesh', '29452.0', '0.017204640967673313'],
       ['144713312', 'Russia', '397642.0', '0.27477914402235504'],
       ['127504120', 'Mexico', '333596.0', '0.2616354671519634']],
      dtype='<U32')

In [16]:
# Análise Top10 países por maior número de morte proporcionais %

sorted_indices = np.argsort(result[:, 3].astype(float))[::-1]
sorted_array = result[sorted_indices]

In [17]:
print(sorted_array[:10])

[['34049588' 'Peru' '219866.0' '0.645722937969176']
 ['6781955' 'Bulgaria' '38282.0' '0.5644685050254683']
 ['3233530' 'Bosnia and Herzegovina' '16328.0' '0.5049589767220345']
 ['9967304' 'Hungary' '48719.0' '0.4887881417081289']
 ['2093606' 'North Macedonia' '9667.0' '0.461739219318248']
 ['3744385' 'Georgia' '17032.0' '0.4548677553189643']
 ['4030361' 'Croatia' '18091.0' '0.4488679798162001']
 ['627082' 'Montenegro' '2808.0' '0.4477883275233542']
 ['2119843' 'Slovenia' '9230.0' '0.43540960344704777']
 ['10493990' 'Czechia' '42702.0' '0.40691862675683893']]

### Conclusão
Os TOP10 com maior população não necessariamente possuíram os maiores números de mortes proporcionais.

TOP10 - População e % de mortes

* China - 0,008%
* India - 0,037%
* United States - 0,331%
* Indonesia - 0,058%
* Pakistan - 0,012%
* Nigeria - 0,001%
* Brazil - 0,325%
* Bangladesh - 0,017%
* Russia - 0,274%
* Mexico - 0,261%

TOP10 - Maiores % de mortes

* Peru - 0,645%
* Bulgaria - 0,564%
* Bosnia and Herzegovina - 0,504%
* Hungary - 0,488%
* North Macedonia - 0,461%
* Georgia - 0,454%
* Croatia - 0,448%
* Montenegro - 0,447%
* Slovenia - 0,435%
* Czechia - 0,406%

## 11 - Quais foram os 5 países com maior % de mortes em relação a sua população total?

**Justificativa:** Verficar se houve alguma relação entre localização (continente) e contaminção.

In [18]:
covid = np.genfromtxt(
    "/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID DEATHS.csv",
    #"/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID_VACCINATIONS.csv",
    delimiter=',',
    skip_header=1,
    dtype=[
        ('location', 'U100'),
        ('continent', 'U100'),
        ('population', int),
        ('new_deaths', float)
    ],
    usecols=(2, 1, 4, 9)
)

covid

array([('Afghanistan', 'Asia', 41128772, 0.),
       ('Afghanistan', 'Asia', 41128772, 0.),
       ('Afghanistan', 'Asia', 41128772, 0.), ...,
       ('Zimbabwe', 'Africa', 16320539, 0.),
       ('Zimbabwe', 'Africa', 16320539, 0.),
       ('Zimbabwe', 'Africa', 16320539, 0.)],
      dtype=[('location', '<U100'), ('continent', '<U100'), ('population', '<i8'), ('new_deaths', '<f8')])

In [19]:
unique = np.unique(covid[['location', 'continent']], return_index=True, axis=0)[1]
unique

array([     0,   1196,   2392,   3588,   4784,   5980,   7176,   8372,
         9568,  10764,  11966,  13162,  14363,  15564,  16761,  17963,
        19159,  20355,  21551,  22752,  23948,  25144,  26340,  27536,
        28732,  29928,  31124,  32320,  33516,  34712,  35908,  37104,
        38300,  39496,  40697,  41893,  43089,  44285,  45481,  46677,
        47873,  49069,  50265,  51461,  52663,  53859,  55055,  56251,
        57447,  58643,  59839,  61035,  62231,  63430,  64626,  65822,
        67023,  68219,  69415,  70611,  71807,  73003,  74199,  75395,
        76591,  77710,  78906,  80102,  81298,  82494,  83690,  84891,
        86092,  87288,  88484,  89685,  90881,  92081,  93277,  94473,
        95669,  96865,  98061,  99263, 100459, 101655, 102856, 104052,
       105248, 106444, 107640, 108836, 110032, 111228, 112424, 113620,
       114816, 116017, 117213, 118385, 119581, 120777, 121978, 123174,
       124370, 125566, 126762, 127958, 129160, 130361, 131557, 132757,
       133953, 135149, 136345, 137541, 138737, 139933, 141129, 142330,
       143526, 144722, 145918, 147114, 148310, 149506, 150702, 151903,
       153099, 154300, 155496, 156291, 157487, 158683, 159884, 161080,
       162276, 163472, 164668, 165864, 167060, 168256, 169452, 170650,
       171846, 173042, 174238, 175434, 176630, 177826, 179022, 180218,
       181414, 182610, 183806, 185002, 186202, 187403, 188599, 189795,
       190991, 192187, 193383, 194584, 195780, 196976, 197667, 198805,
       200001, 201197, 202398, 203594, 204790, 205986, 207182, 208378,
       209574, 210770, 211967, 213163, 214359, 215559, 216755, 217951,
       219147, 220343, 221539, 222741, 223937, 225133, 226329, 227525,
       228721, 229917, 231113, 232309, 233510, 234706, 235902, 237098,
       238222, 239418, 240619, 241815, 243011, 244207, 245403, 246599,
       247795, 248991, 250187, 251383, 252584, 253780, 254976, 256172,
       257368, 258564, 259759, 260961, 262162, 263358, 264546, 265742,
       266938, 268134, 269330, 270526, 271722, 272918, 274114, 275310,
       276506, 277702, 278898, 280094, 281290, 282486, 283682, 284878,
       286078, 287274, 288475, 289676, 290872, 292068, 293264, 294460,
       295656, 296763, 297959, 297960, 299161, 300357, 301553])

In [20]:
paises = covid[unique]
paises[:5]

array([('Afghanistan', 'Asia',   41128772, 0.),
       ('Africa', '', 1426736614, 0.),
       ('Albania', 'Europe',    2842318, 0.),
       ('Algeria', 'Africa',   44903228, 0.),
       ('American Samoa', 'Oceania',      44295, 0.)],
      dtype=[('location', '<U100'), ('continent', '<U100'), ('population', '<i8'), ('new_deaths', '<f8')])

In [21]:
pop = covid['population'][unique]
pop[:5]

array([  41128772, 1426736614,    2842318,   44903228,      44295])

In [22]:
pais = np.unique(covid['location'])
pais.shape

(255,)

In [23]:
continente = covid['continent'][unique]
continente.shape

(255,)

In [24]:
copy_covid = covid[~np.isnan(covid['new_deaths'])].copy()

In [25]:
cases = [(p, copy_covid[copy_covid['location'] == p]['new_deaths'].sum()) for p in pais]
casos = np.array(cases)
casos[:5]

array([['Afghanistan', '7884.0'],
       ['Africa', '258851.0'],
       ['Albania', '3604.0'],
       ['Algeria', '6881.0'],
       ['American Samoa', '34.0']], dtype='<U32')

In [26]:
total_array = np.hstack((pop[:, np.newaxis], casos))
total_array = np.hstack((continente[:, np.newaxis], total_array))
total_array[:5]

array([['Asia', '41128772', 'Afghanistan', '7884.0'],
       ['', '1426736614', 'Africa', '258851.0'],
       ['Europe', '2842318', 'Albania', '3604.0'],
       ['Africa', '44903228', 'Algeria', '6881.0'],
       ['Oceania', '44295', 'American Samoa', '34.0']], dtype='<U100')

In [27]:
# Calculo da proporção entre mortes e população
calc_percent = (total_array[:, 3].astype(float) / total_array[:, 1].astype(float))*100
calc_percent[:5]

array([0.01916906, 0.01814287, 0.12679792, 0.01532407, 0.0767581 ])

In [28]:
result = np.hstack((total_array, calc_percent[:, np.newaxis]))
result[:5]
# 0-Continente
# 1-Population
# 2-Country
# 3-Total Deaths
# 4-Proportion

array([['Asia', '41128772', 'Afghanistan', '7884.0',
        '0.01916906247529102'],
       ['', '1426736614', 'Africa', '258851.0', '0.0181428721643503'],
       ['Europe', '2842318', 'Albania', '3604.0', '0.12679791634855775'],
       ['Africa', '44903228', 'Algeria', '6881.0',
        '0.015324065343364624'],
       ['Oceania', '44295', 'American Samoa', '34.0',
        '0.07675809910825149']], dtype='<U100')

In [29]:
# Análise Top5 países por maior número de morte percentuais %

sorted_indices = np.argsort(result[:, 4].astype(float))[::-1]
sorted_array = result[sorted_indices]
print(sorted_array[:5])

[['South America' '34049588' 'Peru' '219866.0' '0.645722937969176']
 ['Europe' '6781955' 'Bulgaria' '38282.0' '0.5644685050254683']
 ['Europe' '3233530' 'Bosnia and Herzegovina' '16328.0'
  '0.5049589767220345']
 ['Europe' '9967304' 'Hungary' '48719.0' '0.4887881417081289']
 ['Europe' '2093606' 'North Macedonia' '9667.0' '0.461739219318248']]

### Conclusão
Os TOP5 países com maior % de mortes são na maioria países da Europa, pode ser que haja correlação!

TOP5 - Países com maior % de mortes e seus continentes

* Peru - South America - 0.64%
* Bulgaria - Europe - 0.56%
* Bosnia and Herzegovina - Europe - 0.50%
* Hungary - Europe - 0.48%
* North Macedonia - Europe - 0.46

# Usando PANDAS

## 02 - Países com maior índice de rigidez nas restrições tem uma taxa de mortalidade menor?

**Justificativa:** Verficar se as medidas restritivas auxiliou na diminuição da taxa de mortalidade

Obs.: Taxa de mortalidade = Total de Mortes / habitantes

In [30]:
# "/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID DEATHS.csv",
# "/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID_VACCINATIONS.csv",
covid_df = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID DEATHS.csv")
covid_df.head(100)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,1/3/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AFG,Asia,Afghanistan,4/7/2020,41128772,367.0,30.0,28.714,11.0,4.0,...,0.024,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,AFG,Asia,Afghanistan,4/8/2020,41128772,423.0,56.0,33.000,14.0,3.0,...,0.035,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,AFG,Asia,Afghanistan,4/9/2020,41128772,444.0,21.0,29.857,15.0,1.0,...,0.038,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,AFG,Asia,Afghanistan,4/10/2020,41128772,521.0,77.0,36.000,15.0,0.0,...,0.035,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,AFG,Asia,Afghanistan,4/11/2020,41128772,521.0,0.0,35.857,15.0,0.0,...,0.035,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
ex = covid_df.iloc[:, [2,4,9]]
ex

           location  population  new_deaths
0       Afghanistan    41128772         0.0
1       Afghanistan    41128772         0.0
2       Afghanistan    41128772         0.0
3       Afghanistan    41128772         0.0
4       Afghanistan    41128772         0.0
...             ...         ...         ...
302744     Zimbabwe    16320539         1.0
302745     Zimbabwe    16320539         0.0
302746     Zimbabwe    16320539         0.0
302747     Zimbabwe    16320539         0.0
302748     Zimbabwe    16320539         0.0

[302749 rows x 3 columns]

In [32]:
loc_pop = covid_df[['location', 'population']].drop_duplicates()
loc_pop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 301553
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    255 non-null    object
 1   population  255 non-null    int64
dtypes: int64(1), object(1)
memory usage: 6.0+ KB

In [33]:
nd_sum = covid_df.groupby('location')['new_deaths'].sum()
nd_sum.info()

<class 'pandas.core.series.Series'>
Index: 255 entries, Afghanistan to Zimbabwe
Series name: new_deaths
Non-Null Count  Dtype
--------------  -----
255 non-null    float64
dtypes: float64(1)
memory usage: 4.0+ KB

In [34]:
result = loc_pop.merge(nd_sum, on='location')
result

           location  population  new_deaths
0       Afghanistan    41128772      7884.0
1            Africa  1426736614    258851.0
2           Albania     2842318      3604.0
3           Algeria    44903228      6881.0
4    American Samoa       44295        34.0
..              ...         ...         ...
250  Western Sahara      576005         0.0
251           World  7975105024   6899687.0
252           Yemen    33696612      2159.0
253          Zambia    20017670      4057.0
254        Zimbabwe    16320539      5685.0

[255 rows x 3 columns]

In [35]:
result['tx'] = (result['new_deaths'] / result['population'])*100
result

           location  population  new_deaths        tx
0       Afghanistan    41128772      7884.0  0.019169
1            Africa  1426736614    258851.0  0.018143
2           Albania     2842318      3604.0  0.126798
3           Algeria    44903228      6881.0  0.015324
4    American Samoa       44295        34.0  0.076758
..              ...         ...         ...       ...
250  Western Sahara      576005         0.0  0.000000
251           World  7975105024   6899687.0  0.086515
252           Yemen    33696612      2159.0  0.006407
253          Zambia    20017670      4057.0  0.020267
254        Zimbabwe    16320539      5685.0  0.034833

[255 rows x 4 columns]

In [36]:
result.sort_values(by='tx', ascending=True).head(10)

         location  population  new_deaths   tx
161          Niue        1952         0.0  0.0
163   North Korea    26069416         0.0  0.0
130         Macao      695180         0.0  0.0
98      Hong Kong     7488863         0.0  0.0
199      Scotland     5466000         0.0  0.0
227       Tokelau        1893         0.0  0.0
189  Saint Helena        5401         0.0  0.0
232  Turkmenistan     6430777         0.0  0.0
234        Tuvalu       11335         0.0  0.0
64        England    56550000         0.0  0.0

### Conclusão
Nesse caso teria que fazer uma análise conjunta com as medidas restritivas adotadas em cada um dos países com menores taxas de mortalidade.

## 03 - Países que testaram mais pessoas tiveram menos casos positivos de Covid-19?

**Justificativa:** Verificar se países que testaram mais conseguiram isolar essas pessoas e consequentemente ter menos casos positivos no geral

In [37]:
# "/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID DEATHS.csv",
# "/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID_VACCINATIONS.csv",
death_df = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID DEATHS.csv")
vaccinations_df = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/4-[DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)/datasets/COVID_VACCINATIONS.csv")

In [38]:
nc_sum = death_df.groupby('location')['new_cases'].sum().reset_index()
nc_sum

           location    new_cases
0       Afghanistan     211631.0
1            Africa   13075600.0
2           Albania     333897.0
3           Algeria     271613.0
4    American Samoa       8326.0
..              ...          ...
250  Western Sahara          0.0
251           World  763128258.0
252           Yemen      11945.0
253          Zambia     343415.0
254        Zimbabwe     264584.0

[255 rows x 2 columns]

In [39]:
nc_sum_sort = nc_sum.sort_values(by='new_cases', ascending=False)
nc_sum_sort.head(20)
# Index dos top5 países: 239,44,101,76,82

                location    new_cases
251                World  763128258.0
96           High income  419283550.0
12                  Asia  295847337.0
70                Europe  248182478.0
241  Upper middle income  243254393.0
71        European Union  183460552.0
162        North America  123493697.0
239        United States  102873924.0
44                 China   99239252.0
128  Lower middle income   97088159.0
211        South America   68341184.0
101                India   44768926.0
76                France   38791479.0
82               Germany   38368891.0
30                Brazil   37319827.0
110                Japan   33523927.0
212          South Korea   30918060.0
108                Italy   25715384.0
238       United Kingdom   24330379.0
186               Russia   22727542.0

In [40]:
nc_sum_id = [239,44,101,76,82]
nc_sum.iloc[nc_sum_id]

          location    new_cases
239  United States  102873924.0
44           China   99239252.0
101          India   44768926.0
76          France   38791479.0
82         Germany   38368891.0

In [41]:
nt_sum = vaccinations_df.groupby('location')['new_tests'].sum().reset_index()
nt_sum

           location  new_tests
0       Afghanistan        0.0
1            Africa        0.0
2           Albania  1613870.0
3           Algeria        0.0
4    American Samoa        0.0
..              ...        ...
250  Western Sahara        0.0
251           World        0.0
252           Yemen        0.0
253          Zambia  3412336.0
254        Zimbabwe  1869683.0

[255 rows x 2 columns]

In [42]:
nt_sum_sort = nt_sum.sort_values(by='new_tests', ascending=False)
nt_sum_sort.head(20)
# Index dos top5 países: 239,101,238,76,108

                 location    new_tests
239         United States  912769124.0
101                 India  838798638.0
238        United Kingdom  502482746.0
76                 France  278234000.0
108                 Italy  224719845.0
14                Austria  188768459.0
237  United Arab Emirates  168522672.0
231                Turkey  163164533.0
186                Russia  156015815.0
212           South Korea  100269452.0
214                 Spain   93162168.0
13              Australia   73363499.0
57                Denmark   64649913.0
38                 Canada   62175498.0
133              Malaysia   60647556.0
55                Czechia   54587458.0
110                 Japan   53504941.0
107                Israel   51780014.0
102             Indonesia   51528978.0
206              Slovakia   51238482.0

In [43]:
nt_sum_id = [239,101,238,76,108]
nt_sum.iloc[nt_sum_id]

           location    new_tests
239   United States  912769124.0
101           India  838798638.0
238  United Kingdom  502482746.0
76           France  278234000.0
108           Italy  224719845.0

### Conclusão
Não necessariamente quem testou mais teve menos casos, no que foi apresentado dos que mais testaram (United States, India, United Kingdom, France e Italy) três deles foram que mais tiveram casos de covid também (United States, India e France).

## 04 - Uma comparação entre o total de vacinados e o total de doses de reforço aplicados?

**Justificativa:** Fazer um comparação entre o total de vacinados e o número de pessoas que seguindo as indicações  tomaram a dose de reforço

### Conclusão

## XX -

**Justificativa:**

### Conclusão