# Aula 7: Estruturação do banco e JOIN us ON su.c = e.sso;

In [ ]:
## instale esses 3 caras, reinicie o kernel e pronto
!pip install pandas
!pip install pandasql
!pip install sqlalchemy==1.4.46

In [ ]:
import pandas as pd
import pandasql as ps
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Carregando os dados

vendedores = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/3-[DS-PY-006] BANCO DE DADOS I/base_curso/vendedores.csv")
transacoes = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/3-[DS-PY-006] BANCO DE DADOS I/base_curso/transacoes.csv")
pagamentos = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/3-[DS-PY-006] BANCO DE DADOS I/base_curso/pagamento.csv")
cursos = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/3-[DS-PY-006] BANCO DE DADOS I/base_curso/cursos.csv")
cidades = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/3-[DS-PY-006] BANCO DE DADOS I/base_curso/cidades.csv")
alunos = pd.read_csv("/content/drive/MyDrive/ADA_Braskem/Curso/3-[DS-PY-006] BANCO DE DADOS I/base_curso/alunos.csv")

In [ ]:
ps.sqldf("""
SELECT
  *
FROM
  transacoes
""")

    id_transacao  id_aluno  id_curso  id_vendedor  id_pagamento
0              1         1         1            1             1
1              2         2         1            2             2
2              3         3         1            1             2
3              4         4         1            2             1
4              5         5         1            1             3
5              6         6         1            1             3
6              7         7         1            2             1
7              8         8         1            2             1
8              9         9         2            1             4
9             10        10         2            2             4
10            11        11         2            2             2
11            12        12         2            2             1
12            13        13         2            2             1
13            14        14         2            1             1
14            15        15         2            1             5
15            16        16         2            1             2
16            17        17         2            1             2
17            18        18         2            3             3
18            19        19         2            3             5
19            20        20         2            3             3
20            21        21         2            1             1
21            22        22         3            3             5
22            23        23         3            3             5
23            24        24         3            3             4
24            25        25         3            3             4
25            26        26         3            1             5
26            27        27         3            1             2
27            28        28         3            1             2
28            29        29         3            1             5
29            30        30         4            2             5
30            31        31         4            2             2
31            32        32         4            2             2
32            33        33         4            2             2
33            34        34         4            2             5

In [ ]:
# Integrar as tabelas vendedores e transações

ps.sqldf("""
SELECT
  *
FROM
  vendedores AS V
  LEFT JOIN transacoes AS T ON V.id_vendedor = T.id_vendedor
""")

,id_vendedor,vendedor,id_transacao,id_aluno,id_curso,id_vendedor,id_pagamento
0,1,paulo,1,1,1,1,1
1,1,paulo,3,3,1,1,2
2,1,paulo,5,5,1,1,3
3,1,paulo,6,6,1,1,3
4,1,paulo,9,9,2,1,4
5,1,paulo,14,14,2,1,1
6,1,paulo,15,15,2,1,5
7,1,paulo,16,16,2,1,2
8,1,paulo,17,17,2,1,2
9,1,paulo,21,21,2,1,1
10,1,paulo,26,26,3,1,5
11,1,paulo,27,27,3,1,2
12,1,paulo,28,28,3,1,2
13,1,paulo,29,29,3,1,5
14,2,adriana,2,2,1,2,2
15,2,adriana,4,4,1,2,1
16,2,adriana,7,7,1,2,1
17,2,adriana,8,8,1,2,1
18,2,adriana,10,10,2,2,4
19,2,adriana,11,11,2,2,2
20,2,adriana,12,12,2,2,1
21,2,adriana,13,13,2,2,1
22,2,adriana,30,30,4,2,5
23,2,adriana,31,31,4,2,2
24,2,adriana,32,32,4,2,2
25,2,adriana,33,33,4,2,2
26,2,adriana,34,34,4,2,5
27,3,nadir,18,18,2,3,3
28,3,nadir,19,19,2,3,5
29,3,nadir,20,20,2,3,3
30,3,nadir,22,22,3,3,5
31,3,nadir,23,23,3,3,5
32,3,nadir,24,24,3,3,4
33,3,nadir,25,25,3,3,4

In [ ]:
# 1. Quantos cursos cada vendedor vendeu?

ps.sqldf("""
SELECT
  V.vendedor,
  COUNT(C.valor_curso) AS qtdade_vendida
FROM
  transacoes AS T
  LEFT JOIN vendedores AS V ON T.id_vendedor = V.id_vendedor
  LEFT JOIN cursos AS C ON T.id_curso = C.id_curso
GROUP BY
  V.vendedor
""")

  vendedor  qtdade_vendida
0  adriana              13
1    nadir               7
2    paulo              14

In [ ]:
# 2. Qual valor cada vendedor vendeu?

ps.sqldf("""
SELECT
  V.vendedor,
  SUM(C.valor_curso) AS montante
FROM
  transacoes AS T
  LEFT JOIN vendedores AS V ON T.id_vendedor = V.id_vendedor
  LEFT JOIN cursos AS C ON T.id_curso = C.id_curso
GROUP BY
  V.vendedor
""")

  vendedor  montante
0  adriana       920
1    nadir       410
2    paulo       860

In [ ]:
# 3. Quantos de cada curso foi vendido por cada vendedor?

ps.sqldf("""
SELECT
  V.vendedor,
  C.curso,
  COUNT(C.valor_curso) AS quantidade
FROM
  transacoes AS T
  LEFT JOIN vendedores AS V ON T.id_vendedor = V.id_vendedor
  LEFT JOIN cursos AS C ON T.id_curso = C.id_curso
GROUP BY
  V.vendedor,
  C.curso
""")

  vendedor             curso  quantidade
0  adriana   arquiteto dados           5
1  adriana     ciencia dados           4
2  adriana  engenharia dados           4
3    nadir     analise dados           4
4    nadir     ciencia dados           3
5    paulo     analise dados           4
6    paulo     ciencia dados           6
7    paulo  engenharia dados           4

In [ ]:
# 4. Qual o montante de cada curso arrecadado por cada vendedor?

ps.sqldf("""
SELECT
  V.vendedor,
  C.curso,
  SUM(C.valor_curso) AS montante
FROM
  transacoes AS T
  LEFT JOIN vendedores AS V ON T.id_vendedor = V.id_vendedor
  LEFT JOIN cursos AS C ON T.id_curso = C.id_curso
GROUP BY
  V.vendedor,
  C.curso
""")

  vendedor             curso  montante
0  adriana   arquiteto dados       400
1  adriana     ciencia dados       280
2  adriana  engenharia dados       240
3    nadir     analise dados       200
4    nadir     ciencia dados       210
5    paulo     analise dados       200
6    paulo     ciencia dados       420
7    paulo  engenharia dados       240

# Dica "inFAOlível" da ordem das operações na query

- F: Filtra -> WHERE
- A: Agrega -> GROUP BY
- O: Ordena -> ORDER BY

# Exercício 1:

Construa a tabela inicial sem a normalização.

In [ ]:
# Está realizado pelo professor na aula salva

ps.sqldf("""
SELECT

FROM

""")

### Exercício 2:

Realize uma query com a média do recebido por curso

### Exercício 3:

Realize uma query que calcule o quanto foi recebido de alunos que começam com a letra A;

### Exercício 4:

Realize uma query que calcule quanto foi recebido de cada cidade


E se eu quiser ver resultados acima de um valor específico? Como filtro o Group By?

### Exercício 5:

Realize uma query que calcule o quanto foi recebido por cada estado.

### Exercício 6:

Realize queryes para saber quem trouxe mais dinheiro: pessoas com dois telefones ou com um telefone?

### Exercício 7:

Realize uma query para saber qual foi o lucrado total por cada vendedor

### Exercício 8:

Realize uma query para saber o valor médio das vendas de cada vendedor

### Exercicio 9:

Qual vendedor vendeu mais cursos?

### Exercício 10:

Quais os tipos de pagamentos mais usado por cada vendedor?

### Exercício 11:

Quais tipos de pagamentos são mais utilizados?

### Exercício 12:

Quais pagamentos levantam mais montante de dinheiro?

### Exercício 13:

Quais pagamentos apresentam os maiores valores médio?

### Exercício 14:

Quais as cidades que cada vendedor atua mais?

### Exercício 15:

Qual o curso preferido de cada cidade?

### Exercício 16:

Qual o montante mensal recebido?

### Exercício 17:

Qual a média mensal recebida?

### Exerício 18:

Dos alunos com dois telefones, qual montante levantado por cada tipo de pagamento?

### Exercício 19:

Quais os cursos mais frequentes e quais os montates levantados pelos alunos que contém a letra G no nome?

### Exercício 20:

Quantos alunos temos por cada cidade? Mais alunos na cidade significa maior montante gerado pela cidade?